# © 2022 Nokia.
#
# This code is a Contribution to the gNMIc project (“Work”) made under the Google Software Grant and Corporate Contributor License Agreement (“CLA”) and governed by the Apache License 2.0.
# No other rights or licenses in or to any of Nokia’s intellectual property are granted for any other purpose.
# This code is provided on an “as is” basis without any warranties of any kind.
#
# SPDX-License-Identifier: Apache-2.0

username: admin
password: NokiaSrl1!
skip-verify: true
log: true

loader:
  type: docker
  filters:
    - containers:
      - label=clab-node-kind: nokia_srlinux
        label=containerlab: lab14

subscriptions:
  # Add subscriptions configuration here
  # e.g:
  sub1:
    paths:
      - /interface/statistics
      - /interface/description
    stream-mode: sample
    sample-interval: 10s
    encoding: ascii

outputs:     
  prom-output:
    type: prometheus
    listen: "clab-lab14-gnmic:9804"
    cache: {}
    debug: true
    strings-as-labels: true
    service-registration:
      address: clab-lab14-consul-agent:8500
    event-processors:
      - group_by_interface

processors:
  group_by_interface:
    event-group-by:
      tags:
        - interface_name
